parameters:
    level: 8
    paths:
        - app
    excludePaths:
        - app/Console
        - app/Exceptions
        - app/Http/Middleware
    ignoreErrors:
        - '#Call to an undefined method#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
    tmpDir: .phpunit.cache
    parallel:
        processTimeout: 300.0
    memoryLimitFile: 128M





